# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Distribution
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log