/*
===============================================
  Filled
===============================================
*/

.tz-button-filled {
    box-shadow: 0 1px 2px rgb(0 0 0 / 0.08);
}

.tz-button-filled:enabled:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 0.12);
}

.tz-button-filled:enabled:active {
    box-shadow: none;
    transform: translateY(1px);
}


/*
===============================================
  Outlined
===============================================
*/

.tz-button-outlined {
    background: transparent;
}

.tz-button-outlined:enabled:hover {
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.08);
}

.tz-button-outlined:enabled:active {
    box-shadow: none;
    transform: translateY(1px);
}


/*
===============================================
  Soft
===============================================
*/

.tz-button-soft {
    border-color: transparent;
    opacity: 0.85;
}

.tz-button-soft:enabled:hover {
    opacity: 1;
}

.tz-button-soft:enabled:active {
    transform: translateY(1px);
}


/*
===============================================
  Ghost
===============================================
*/

.tz-button-ghost {
    background: transparent;
    border-color: transparent;
}

.tz-button-ghost:enabled {
    color: var(--tz-button-variant-color, var(--tz-color-text));
}

.tz-button-ghost:disabled {
    color: var(--tz-color-on-disabled);
    background: transparent;
    border-color: transparent;
}

.tz-button-ghost:enabled:hover {
    color: var(--tz-button-variant-hover, var(--tz-color-text));
    background: transparent;
    border-color: transparent;
}

.tz-button-ghost:enabled:active {
    color: var(--tz-button-variant-active, var(--tz-color-text));
    background: transparent;
    border-color: transparent;
    transform: translateY(1px);
}


/*
===============================================
  Link
===============================================
*/

.tz-button-link {
    background: transparent;
    border-color: transparent;

    border-radius: 0;

    padding-left: 2px;
    padding-right: 2px;

    box-shadow: none;
}

.tz-button-link:enabled:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.tz-button-link:enabled:active {
    transform: translateY(1px);
}
